@mixin tl_text_width($width) {
  .tl_text {
    width: $width;
    padding-right: 26px;
  }

  .wizard & {
    .tl_text {
      width: $width - 24px;
      padding-right: 26px;
    }
  }

  .long & {
    .tl_text {
      width: $width + 351px;
    }
  }

  .wizard.long & {
    .tl_text {
      width: $width + 351px - 24px;
    }
  }
}

.tf_wrap {
  display: inline-block;
  position: relative;

  .tf_field_wrap {
    display: inline-block;

    &.hide {
      display: none;
    }

    @include tl_text_width(290px);

    @media (min-width: 1200px) {
      @include tl_text_width(376px);
    }
  }

  .tf_button {
    position: absolute;
    z-index: 998;
    top: 6px;
    right: 6px;
    cursor: pointer;
  }

  .tf_lng_list {
    position: absolute;
    z-index: 999;
    top: 30px;
    left: -9000px;
    padding: 5px 2px 3px;
    border: 1px solid #b8b8b8;
    border-top: none;
    background: #fff;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;

    &.active {
      left: 0;
      right: 0;
    }

    .tf_lng_item {
      padding: 1px 7px 3px;
      line-height: 1.2;
      vertical-align: middle;
      list-style: none;
      margin-top: 1px;
      cursor: pointer;
      background: #fee;

      &.translated {
        background: #fff;
      }

      &:hover {
        background: #4064f7;
        color: #fff;
      }

      img {
        margin: -2px 7px 0px 0px;
        vertical-align: middle;
      }
    }
  }

  &.tf_textarea_wrap {
    &.rte {
      .tf_lng_list {
        top: 1px;
        border: 1px solid #ccc;
        border-top: none;
        -webkit-border-radius: 0 0px 0px 3px;
        -moz-border-radius: 0 0px 0px 3px;
        border-radius: 0 0px 0px 3px;
      }
    }

    .tl_textarea {
      min-height: 36px;
    }

    .mceToolbar > div {
      width: 682px;
    }

    .tf_lng_list.active ~ .tf_button {
      z-index: 999;
    }

    .tf_lng_list {
      top: 2px;
      padding-top: 30px;
      -webkit-border-radius: 0 3px 0px 3px;
      -moz-border-radius: 0 3px 0px 3px;
      border-radius: 0 3px 0px 3px;

      &.active {
        left: auto;
        right: 0px;
      }
    }
  }
}

@media (max-width: 767px) {
  .tf_wrap {
    display: block;

    .tf_field_wrap {
      display: block;

      .tl_text {
        width: 100%;
      }

      .wizard & {
        .tl_text {
          width: calc(100% - 24px);
        }
      }

      .long & {
        .tl_text {
          width: 100%;
        }
      }
    }

    .wizard & {
      .tf_button {
        right: 30px;
      }
    }

    &.tf_text_unit_wrap {
      display: inline-block;
      width: calc(100% - 64px);

      .tl_text_unit {
        width: 100%;
      }
    }
  }
}

/* Contao debug bar z-index fix */
#debug {
  > * {
    z-index: 1000;
  }
}
